@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@400;600;700&display=swap');

:root {
  --primary: linear-gradient(#C84E89, #F15F79);
  --white: #F0F0F0;
  --background: #111111;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', -apple-system, 'Segoe UI' ;
  margin: 0;
  padding: 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--white);
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container .text-container {
  max-width: 420px;
  margin-right: 100px;
}

.main-container .img-container img {
  object-fit: contain;
}

.main-container .text-container h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 110px;
  font-weight: 700;
  background: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: .75;
}

.main-container .text-container h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Nunito';
  font-size: 22px;
  font-weight: 400;
}

.main-container .text-container h2 span {
  font-weight: 700;
}

.main-container .text-container p {
 font-size: 18px;
 margin-top: 0;
 margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.main-container .text-container .button-container button {
  width: 198px;
  height: 48px;
  border-radius: 7px;
  border-color: transparent;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-container .text-container .button-container .download {
  background: var(--white);
  color: var(--background);

}


.main-container .text-container .button-container .download:hover {
  background: var(--primary);
  color: white;

}

.main-container .text-container .button-container .download:hover img {
  filter: invert();
}

.main-container .text-container .button-container .no-background {
  background-color: transparent;
  color: var(--white);
  border-color: var(--white);
  cursor: not-allowed;
  opacity: 0.4;
  outline: none;
  pointer-events: none;
}

.button-link {
  text-decoration: none;
  display: inline-block;
}

.main-container .text-container .button-container img {
  margin-right: 10px;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

footer svg {
  width: 20px;
  height: 20px;
  margin-left: 17px;
  color: white;
}

@media (max-width: 1150px) {
  .main-container {
    flex-direction: column;
  }
  .main-container .text-container {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .main-container .img-container img{
    width: 420px;
  }

  body {
    padding-bottom: 70px;
  }

}

@media (max-width: 500px) {
  .main-container .text-container h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-top: 0;
    line-height: .75;
  }

  .button-container {
    flex-direction: column;
    width: 100%;
  }

  .main-container .text-container .button-container button {
    width: 100%;
  }

  .main-container .text-container .button-container .download {
    margin-bottom: 17px;
  }

  body {
    text-align: center;
    min-height: 100vh;
    display: block;
  }

  .main-container {
    margin: auto;
  }

  .main-container .img-container img {
    width: 100%;
  }

  .main-container .text-container {
    margin: 0 auto 40px auto;
  }
}